<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        ul {margin: 0; padding: 0; list-style: none;}
        ul li {float: left; margin-right: 20px;}
        a {text-decoration: None; color: #465de2;}
        a:hover {color: #1435f0;}
    </style>
  </head>
  <body>
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eum. Soluta laborum eos minus, nam quae temporibus veniam esse numquam provident ullam omnis adipisci facilis dolor quod officia nesciunt necessitatibus.</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
  </body>
</html>